<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <!-- <div class="col s6">
        <h2>Quiz registration</h2>
      </div> -->
      <div class="card-image">
       
        <span class="card-title">Quiz registration</span>
      </div>
      <div class="card-content">
        <form #registerForm = 'ngForm'>
          <div class="row">
            <div class="input-field col-s12">
              <i class="material-icons prefix">account_circle</i>
              <input type="text" name="Name" #Name ngModel required>
              <label>Name</label>
            </div>
          </div>
          <div class="row">
              <div class="input-field col-s12">
                <i class="material-icons prefix">mail_outline</i>
                <input type="text" name="Email" #Email ngModel required>
                <label>Email</label>
              </div>
            </div>
            <div class="row">
                <div class="input-field col-s12">
                  <button class="btn-large btn-submit" type="submit" [disabled] = "!registerForm.valid">Start</button>
                </div>
              </div>
        </form>
        </div>
      
    </div>
  </div>
</div>